.paris
{
    position: relative;
    bottom: 10px;
text-align:  center;
font-weight: bolder;

}
.hr
{
    
    position: relative;
    right:320px;
    top:75px;
    padding-left: 650px;
    padding-right: 650px;
}
.hr1
{
    position: relative;
    left:320px;
    bottom:65px;
    padding-left: 650px;
    padding-right: 650px;
}
.back
{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color:lightslategray;
    text-align:center;
    position: relative;
    bottom:30px;
    left:25px;
}
#bicon
{
    position:relative;
    right:20px;
    top:5px;
      
}
.pariscard
{
    margin-left: 530px;
    margin-right: 530px;
    
    border:tomato 2px solid;
    padding-top:30px;
    padding-left: 150px;
padding-bottom: 250px;
border-radius: 10px;

}
#completed
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-right: 15px;
    color:red;
    text-decoration-line: line-through;
    position: relative;
    top:40px;

}
#pending
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px; 
    position: relative;
    top: 60px;
    right:10px;
}
.tripparis
{
   position: relative;
  left:5px;
  top:15px;
}
.hr2
{
    position: relative;
    top: 20px;
    
}
#sqicon
{
    position: relative;
   right:10px;
   top:2px;
}
.plusicon
{
    position: relative;
    top:220px;
    left:250px;
}
a
{
    text-decoration: none;
    color:tomato;
}